@font-face {
  font-family: Inter-Bold;
  src: url(assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: Inter-SemiBold;
  src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
  font-family: Inter-Regular;
  src: url(assets/fonts/static/Inter-Regular.ttf);
}
body {
  margin: 0px;
  padding: 0px;
  background-color: hsl(0, 0%, 8%);
}
.container {
  max-width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.component {
  padding: 1.5rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 10%);
  border-radius: 5px;
}
.avatar {
  border-radius: 50%;
  width: 100px;
}
.name {
  font-size: 22px;
  font-family: Inter-Bold;
}
.location {
  font-size: 13px;
  font-family: Inter-SemiBold;
  color: #c0ed1c;
}
.likes {
  font-size: 13px;
  font-family: Inter-Regular;
}
a {
  text-decoration: none;
  font-family: Inter-SemiBold;
  color: hsl(0, 0%, 100%);
}
.links {
  font-size: 13px;
  background-color: hsl(0, 0%, 15%);
  margin-bottom: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 75px;
  border-radius: 5px;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: white;
}
